body {
    background-color: var(--main-bg-color);
}
.About {
    height: fit-content;
}

.About .Profile {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80%;
    margin: 5% auto 2% auto;
    border-radius: 12px;
    border: 1px solid lightgrey;
    overflow: hidden;
}
.About .Profile .cover {
    object-fit: cover;
    object-position: 0% 40%;
    width: 100%;
}
.About .Profile #info-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--container-bg-color);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.About .Profile #info-container .first {
    margin: auto 0% auto 20%;
    padding-bottom: 10%;
}
.About .Profile #info-container .first .headshot {
    width: 200px;
    margin-top: -25%;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
.About .Profile #info-container .first h1 {
    font-size: 35px;
    padding-top: 3%;
    padding-bottom: 2%;
    margin: 0;
}
.About .Profile #info-container .first h2 {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 2%;
    margin: 0;
}
.About .Profile #info-container .first .company {
    font-size: 20px;
    font-weight: 400;
    width: fit-content;
    margin-bottom: 3%;
    padding: 1% 1.8%;
    color: var(--invert-color);
    background-color: var(--main-bg-color);
    border-radius: 8px;
}
.About .Profile #info-container .first .company .parentcompany {
    font-size: 16px;
}
.About .Profile #info-container .first h3 {
    font-size: 18px;
    font-weight: normal;
    color: rgb(104, 104, 104);
    margin: 0;
}
.About .Profile #info-container .second {
    margin: auto 20% auto 0%;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}
.About .Profile #info-container .second p {
    margin: 0% 0% 5% 0%;
}
.About .Profile #info-container .second .social-container {
    display: flex;
    justify-content: space-evenly;
}
.About .Profile #info-container .second .social-container a {
    height: fit-content;
    display: flex;
    align-items: center;
}
.About .Profile #info-container .second .social-container .social {
    object-fit: cover;
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition-duration: 0.3s;
}
.About .Profile #info-container .second .social-container .social:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.About .Education {
    background-color: var(--container-bg-color);
    width: 80%;
    height: fit-content;
    margin: 0% auto 2% auto;
    border-radius: 12px;
    border: 1px solid lightgrey;
}
.About .Education .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.About .Education .container .title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 2%;
    margin-left: 4%;
    text-decoration: underline var(--section-underline);
}
.About .Education .container .school {
    margin: 4% 10% 0% 10%;
}
.About .Education .container .school:last-child {
    margin-bottom: 5%;
}
.About .Education .container .schoolname {
    font-size: 30px;
    font-weight: bold;
}
.About .Education .container .degree {
    font-size: 22px;
}
.About .Education .container .year {
    font-size: 20px;
    color: rgb(104, 104, 104);
}
.About .Education .container .activitiestitle {
    font-size: 20px;
    margin-top: 0.5%;
}
.About .Education .container .activities {
    font-size: 20px;
    margin-left: 5%;
}

.About .Skills {
    background-color: var(--container-bg-color);
    width: 80%;
    height: fit-content;
    margin: 0% auto 2% auto;
    border-radius: 12px;
    border: 1px solid lightgrey;
}
.About .Skills .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.About .Skills .container .title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 2%;
    margin-left: 4%;
    text-decoration: underline var(--section-underline);
}
.About .Skills .container .info {
    margin: 4% 10%;
    font-size: 20px;
    text-align: center;
}
.About .Skills .container .info .section-title {
    font-size: 25px;
    font-weight: bold;
}
.About .Skills .container .info .section-text {
    margin-bottom: 2%;
}

.About .Awards {
    background-color: var(--container-bg-color);
    width: 80%;
    height: fit-content;
    margin: 0% auto 2% auto;
    border-radius: 12px;
    border: 1px solid lightgrey;
}
.About .Awards .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.About .Awards .container .title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 2%;
    margin-left: 4%;
    text-decoration: underline var(--section-underline);
}
.About .Awards .container .designmerced {
    margin: 4% 10%;
    font-size: 20px;
}
.About .Awards .container .designmerced .award {
    margin-bottom: 2%;
}
.About .Awards .container .designmerced .award .for a {
    font-size: 25px;
}
.About .Awards .container .designmerced .award .issued {
    color: rgb(104, 104, 104);
}
.About .Awards .container .designmerced .awarddesc {
    line-height: 1.5;
    margin-left: -1%;
}

.About .Experience {
    background-color: var(--container-bg-color);
    width: 80%;
    height: fit-content;
    margin: 0% auto 5% auto;
    border-radius: 12px;
    border: 1px solid lightgrey;
}
.About .Experience .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.About .Experience .container .title {
    font-size: 30px;
    font-weight: 400;
    margin: 2% 0% auto 4%;
    text-decoration: underline var(--section-underline);
}
.About .Experience .container .experiencelist {
    display: flex;
    flex-direction: column;
}
.About .Experience .container .experiencelist .workedat {
    margin: 2% 10%;
    font-size: 20px;
}
.About .Experience .container .experiencelist .workedat:first-child {
    margin-top: 4%;
}
.About .Experience .container .experiencelist .workedat:last-child {
    margin-bottom: 4%;
}
.About .Experience .container .experiencelist .workedat .total {
    margin-bottom: 3%;
}
.About .Experience .container .experiencelist .workedat .total .date {
    color: rgb(104, 104, 104);
}
.About .Experience .container .experiencelist .workedat .total .companyname {
    font-size: 25px;
}
.About .Experience .container .experiencelist .workedat .jobdesc {
    position: relative;
    padding-left: 5%;
}
.About .Experience .container .experiencelist .workedat .jobdesc:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 98.5%;
    margin: auto 0;
    border: 1px solid var(--main-bg-color);
    border-radius: 10px;
}
.About .Experience .container .experiencelist .workedat .jobdesc .lead {
    margin-bottom: 2.5%;
}
.About .Experience .container .experiencelist .workedat .jobdesc .pos {
    margin-bottom: 2%;
}
.About .Experience .container .experiencelist .workedat .jobdesc .position {
    font-size: 25px;
    font-weight: bold;
}
.About .Experience .container .experiencelist .workedat .jobdesc .date {
    color: rgb(104, 104, 104);
}
.About .Experience .container .experiencelist .workedat .jobdesc .text {
    line-height: 1.5;
    margin-left: -1%;
}


/* Profile */
@media only screen and (max-width: 1024px) {
    .About .Profile #info-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .About .Profile #info-container .first {
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }
    .About .Profile #info-container .first .company {
        margin-left: auto;
        margin-right: auto;
    }
    .About .Profile #info-container .first h3 {
        margin-bottom: 5%;
    }
    .About .Profile #info-container .second {
        margin: auto auto;
        width: 80%;
        letter-spacing: 2px;
        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media only screen and (max-width: 480px) {
    .About .card {
        width: 90%;
    }
}
