
.Guides .container {
    display: flex;
    min-height: calc(100vh);
    height: fit-content;
}
.Guides .container .tabscolumn {
    border-right: 1px solid var(--container-bg-color);
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    height: calc(100vh);
    width: calc(25vw);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.Guides .container .tabscolumn .tabs {
    position: sticky;
    top: 60px;
}
.Guides .container .tabscolumn .tabs button {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    background-color: var(--container-bg-color);
}
.Guides .container .tabscolumn .tabs button:hover {
    background-color: #ddd;
}
.Guides .container .tabscolumn .tabs button.active {
    background-color: var(--main-bg-color);
    color: var(--invert-color);
}
.Guides .container .guidecontent {
    background-color: var(--main-bg-color);
    color: var(--invert-color);
    width: calc(75vw);
}
.Guides .container .guidecontent .tabcontent {
    padding: 6px 12px;
    font-size: 18px;
}


@media only screen and (max-width: 768px) {
    .Guides .container {
        display: block;
    }
    .Guides .container .tabscolumn {
        border-right: none;
        border-bottom: 1px solid var(--invert-color);
        height: fit-content;
        width: 100%;
        position: unset;
    }
    .Guides .container .guidecontent {
        min-height: calc(100vh);
        width: 100%;
    }
}
