.Navbar {
    border-bottom: 1px solid var(--invert-color);
    background-image: linear-gradient(to bottom right, #6CAFCC, #7EADC2);
    padding: 0% 10%;
    height: 60px;
}

.Navbar .mobileview {
    display: none;
    height: 100%;
}
.Navbar .mobileview img {
    height: 60px;
}
.Navbar .grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.Navbar .grid-container li {
    font-size: 30px;
    height: fit-content;
    margin: auto auto;
}
.Navbar .grid-container li a {
    text-decoration: none;
}
.Navbar .grid-container li a:link {
    color: #5D808F;
}
.Navbar .grid-container li a:visited {
    color: #173542;
}
.Navbar .grid-container li a:hover {
    color: white;
    transition-duration: 0.2s;
}
.Navbar .grid-container button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar .grid-container li:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.3s;
}
  
/* Switch - https://codepen.io/wilsonpage/pen/cxKEs */
.switch {
    display: inline-block;
    font-size: 25px;
    height: 1em;
    width: 2em;
    background-color: var(--main-bg-color);
    border-radius: 1em;
}
.switch input {
    position: absolute;
    opacity: 0;
}
.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: var(--container-bg-color);
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
}
.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}


@media only screen and (max-width: 600px) {
    .change-bg-color {
        background-color: rgba(108, 175, 203, 0.9);
    }
    .Navbar {
        height: fit-content;
        background-image: none;
        border-bottom: none;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 0;
    }
    .Navbar .mobileview {
        display: block;
        width: fit-content;
        margin-left: auto;
    }
    .Navbar .grid-container {
        display: none;
    }
    .grid-container {
        display: block;
    }
    #contents {
        list-style-type: none;
        margin: 0;
        padding: 0% 10%;
        width: fit-content;
        margin-left: auto;
    }
    #contents li {
        font-size: 25px;
        padding: 10% 0;
    }
    #contents li:first-child {
        padding-top: 0;
    }
    #contents li:last-child {
        width: fit-content;
        margin: 0 auto;
    }
    #contents li a {
        text-decoration: none;
    }
}
