.Navbar {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--main-bg-color);
    background-image: linear-gradient(rgb(0, 136, 255), var(--container-bg-color));
    height: 60px;
}

.Navbar .mobileview {
    display: none;
    height: 100%;
}
.Navbar .mobileview img {
    height: 60px;
}
.Navbar .grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    list-style-type: none;
    margin: 0;
    padding: 0% 10%;
    height: 100%;
}
.Navbar .grid-container li {
    font-size: 30px;
    height: fit-content;
    margin: auto auto;
    opacity: 0.8;
    transition: 0.3s;
}
.Navbar .grid-container li a {
    text-decoration: none;
}
.Navbar .grid-container li a:link {
    color: #086086;
}
.Navbar .grid-container li a:visited {
    color: #173542;
}
.Navbar .grid-container li a:hover {
    color: var(--invert-color);
    transition: 0.3s;
}
.Navbar .grid-container button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar .grid-container li:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}
  
/* Switch - https://codepen.io/wilsonpage/pen/cxKEs */
.switch {
    display: inline-block;
    font-size: 25px;
    height: 1em;
    width: 2em;
    background-color: var(--main-bg-color);
    border-radius: 1em;
}
.switch input {
    position: absolute;
    opacity: 0;
}
.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: var(--container-bg-color);
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
}
.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

/* Section Navbar */
.Navbar #essentialinfo {
    visibility: hidden;
    overflow: hidden;
    height: 0px;
    display: flex;
    flex-direction: row;
    padding: 0% 10%;
    margin: 0 auto;
    box-shadow: 0px 2px 3px -1px rgb(0 0 0 / 20%);
}
.sectionfadein {
    visibility: visible !important;
    border-bottom: 1px solid var(--main-bg-color);
    background-color: var(--container-bg-color);
    animation: sectionfadein 0.5s ease-out forwards;
}
@keyframes sectionfadein {
    from {height: 0px;}
    to {height: 40px;}
}
.sectionfadeout {
    border-bottom: 1px solid var(--main-bg-color);
    background-color: var(--container-bg-color);
    animation: sectionfadeout 0.5s ease-in;
}
@keyframes sectionfadeout {
    from {height: 40px; visibility: visible;}
    to {height: 0px; visibility: hidden;}
}

.Navbar #essentialinfo .headshot {
    border-radius: 50%;
    width: auto;
    height: 80%;
    align-self: center;
}
.Navbar #essentialinfo #textcontainer {
    visibility: hidden;
    height: 100%;
    margin-left: 1%;
}
.textcontainerfadein {
    visibility: visible !important;
    transform-origin: top left;
    animation: transformin 0.5s ease-out;
}
@keyframes transformin {
    from {transform: scale(0);}
    to {transform: scale(1);}
}
.textcontainerfadeout {
    transform-origin: top left;
    animation: transformout 0.5s ease-in;
}
@keyframes transformout {
    from {transform: scale(1); visibility: visible;}
    to {transform: scale(0); visibility: hidden;}
}


@media only screen and (max-width: 640px) {
    .change-bg-color {
        background-image: linear-gradient(rgb(0, 136, 255), var(--container-bg-color-alpha)) !important;
        border-bottom: 1px solid var(--main-bg-color) !important;
    }
    .Navbar {
        height: fit-content;
        width: 100%;
        padding: 0;
        background-image: none;
        border-bottom: none;
        position: fixed;
        top: 0;
        z-index: 1;
        pointer-events: none;
    }
    .Navbar .mobileview {
        display: block;
        width: fit-content;
        margin: 0 0 0 auto;
        pointer-events: auto;
    }
    .apply-filter {
        filter: invert(100%);
    }
    .Navbar .grid-container {
        display: none;
    }
    #contents {
        list-style-type: none;
        margin: 0;
        padding: 5% 0%;
    }
    #contents li {
        font-size: 30px;
        padding: 2% 0%;
        width: fit-content;
        margin: 0 auto;
        pointer-events: auto;
    }
    #contents li a {
        text-decoration: none;
    }
    #contents li a:link {
        color: #086086;
    }
    #contents li a:visited {
        color: #173542;
    }

    /* Section Navbar */
    .Navbar .mobileview {
        position: relative;
        z-index: 1;
    }
    .Navbar #essentialinfo {
        position: fixed;
        top: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }
    @keyframes sectionfadein {
        from {height: 0px;}
        to {height: 60px;}
    }
    @keyframes sectionfadeout {
        from {height: 60px; visibility: visible;}
        to {height: 0px; visibility: hidden;}
    }
    .Navbar #essentialinfo img {
        margin-left: 10%;
    }
    .togglevisibility {
        opacity: 0 !important;
    }
    .Navbar #essentialinfo #textcontainer {
        margin-right: 10%;
        height: fit-content;
        align-self: center;
    }
    .textcontainerfadein {
        transform-origin: left;
    }
    .textcontainerfadeout {
        transform-origin: left;
    }
}
