.Projects {
    display: flex;
    flex-direction: column;

    .container {
        height: calc(100vh - 61px);
        align-content: center;
        overflow: hidden;

        @media only screen and (max-width: 768px) {
            height: 100vh;
        }

        .carousel-area {
            height: 350px;
            display: flex;
            flex-direction: row;
            position: relative;
            overflow: hidden;

            .control-buttons {
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                pointer-events: none;
                z-index: 2;

                div {
                    color: white;
                    position: absolute;
                    text-align: center;
                    align-content: center;
                    background-color: rgb(0, 136, 255);
                    width: 38px;
                    height: 40px;
                    pointer-events: all;
                    user-select: none;
                    z-index: 1;
                    cursor: pointer;
                }

                #dec {
                    left: 0;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                #inc {
                    right: 0;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }

            #carousel {
                display: flex;
                flex-direction: row;

                .carousel-slide {
                    height: 100%;
                    text-decoration: none;
                    box-sizing: border-box;
                    border: 1px solid var(--border-color);
                    border-radius: 12px;
                    margin-left: 20px;
                    overflow: hidden;

                    &:last-child {
                        margin-right: 20px;
                    }
                    &:hover {
                        .slide .image {
                            transform: rotate(0deg);
                            scale: 1;
                        }
                    }

                    .slide {
                        height: 100%;
                        display: flex;
                        background-color: var(--container-bg-color);
                        text-decoration: none;

                        .info {
                            width: 70%;
                            color: black;
                            padding: 0 40px 0 25px;
                            user-select: none;
                            overflow-y: auto;
                            display: flex;
                            z-index: 1;
                            flex-direction: column;

                            @media only screen and (max-width: 1024px) {
                                width: 75%;
                            }

                            h4 {
                                font-size: 16px;
                                color: rgb(104, 104, 104);
                                font-weight: normal;
                                margin: 30px 0 5px 0;
                            }
                            
                            a {
                                width: fit-content;
                                h1 {
                                    font-size: 25px;
                                    font-weight: bold;
                                    width: fit-content;
                                    margin: 0;
                                }
                            }

                            .flex-container {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                h2 {
                                    font-size: 18px;
                                    font-weight: normal;
                                    line-height: 1.4;
                                    margin: 30px 0 0 0;
                                }
    
                                h3 {
                                    font-size: 16px;
                                    color: rgb(104, 104, 104);
                                    font-weight: normal;
                                    word-spacing: 20px;
                                    margin-bottom: 30px;
                                }
                            }
                        }

                        .image {
                            width: 30%;
                            user-select: none;
                            transform: rotate(12deg);
                            scale: 1.25;
                            transition: all 0.20s;
                            
                            @media only screen and (max-width: 1024px) {
                                width: 25%;
                            }

                            img {
                                width: auto;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        #slide-num {
            display: flex;
            width: fit-content;
            margin: 0 auto;
            gap: 20px;
            margin-top: 10px;

            .gray-circle {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: darkgray;
            }
        }
    }
}