.Projects {
    display: flex;
    flex-direction: column;

    .container {
        height: calc(100vh - 61px);
        align-content: center;

        .carousel-area {
            height: 350px;
            width: calc(100vw - 60px);
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            overflow-x: hidden;
            cursor: grab;

            touch-action: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            #carousel {
                display: flex;
                flex-direction: row;
                position: relative;
                gap: 30px;

                .carousel-slide {
                    width: calc(50vw - 45px);
                    text-decoration: none;

                    .slide {
                        height: 100%;
                        display: flex;
                        box-sizing: border-box;
                        border: 1px solid lightgray;
                        border-radius: 12px;
                        overflow: hidden;
                        background-color: var(--container-bg-color);
                        text-decoration: none;

                        .info-container {
                            width: 70%;
                            color: black;
                            user-select: none;
                            z-index: 1;
                            position: relative;

                            @media only screen and (max-width: 1024px) {
                                width: 75%;
                            }

                            .fade {
                                position: absolute;
                                left: 0;
                                right: 0;
                                height: 30px;

                                &.top {
                                    top: -1px;
                                    background: linear-gradient(var(--container-bg-color), transparent);
                                }
                                &.bot {
                                    bottom: -1px;
                                    background: linear-gradient(transparent, var(--container-bg-color));
                                }
                            }

                            .info {
                                padding: 0 25px;
                                display: flex;
                                flex-direction: column;
                                overflow-y: auto;
                                height: 100%;

                                touch-action: pan-y;
                                -webkit-user-select: none;
                                -ms-user-select: none;
                                user-select: none;

                                h4 {
                                    font-size: 16px;
                                    color: rgb(104, 104, 104);
                                    font-weight: normal;
                                    margin: 0;
                                    padding-top: 25px;
                                }
                                
                                a {
                                    width: fit-content;
                                    margin: 10px 0 20px 0;
                                    
                                    h1 {
                                        font-size: 25px;
                                        font-weight: bold;
                                        width: fit-content;
                                        margin: 0;
                                    }
                                }

                                .flex-container {
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    h2 {
                                        font-size: 18px;
                                        font-weight: normal;
                                        line-height: 1.4;
                                        margin: 0 0 20px 0;
                                    }
        
                                    h3 {
                                        font-size: 16px;
                                        color: rgb(104, 104, 104);
                                        font-weight: normal;
                                        line-height: 1.5;
                                        margin: 0;
                                        padding-bottom: 25px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        column-gap: 25px;
                                    }
                                }
                            }
                        }

                        .image {
                            width: 35%;
                            user-select: none;
                            
                            @media only screen and (max-width: 1024px) {
                                width: 30%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: left;
                            }
                        }
                    }
                }
            }
        }

        .progress-bar {
            width: calc(100vw - 60px);
            margin: 0 auto;
            height: 8px;
            background-color: var(--container-bg-color);
            border-radius: 4px;
            margin-top: 30px;

            .progress {
                height: 100%;
                background: rgb(0, 136, 255);
                border-radius: 4px;
                transition: width 0.3s ease;
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .Projects {
        .container {
            height: 100vh;

            .carousel-area, .progress-bar-container {
                width: 100%;
                
                #carousel {
                    .carousel-slide {
                        width: 100vw;
                    }
                }
            }
        }
    }
}