
.Tasks .outer-container {
    background-color: var(--container-bg-color);
    margin: 5% auto;
    width: 350px;
    height: 500px;
    border-radius: 40px;
    border: 1px solid var(--invert-color);
    box-shadow: 0px 0px 6px 1px var(--container-boxshadow);
}
.Tasks .outer-container .grid-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100%;
}
.Tasks .outer-container .grid-container .date {
    margin: auto auto;
    font-size: 25px;
}
.Tasks .outer-container .grid-container .list {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0% 10%;
    font-size: 35px;
    overflow-y: auto;
    font-family: "Lucida Console";
}
.Tasks .outer-container .grid-container .list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-wrap: anywhere;
}
.Tasks .outer-container .grid-container .list ul li {
    padding: 1% 5%;
}
.Tasks .outer-container .grid-container .list ul li:nth-child(2n + 1) {
    background-color: rgb(197, 197, 197);
}
.Tasks .outer-container .grid-container .list ul li:hover {
    text-decoration: line-through;
    color: crimson;
}
.Tasks .outer-container .grid-container .form {
    margin: auto auto;
    width: 70%;
}
.Tasks .outer-container .grid-container .form form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Tasks .outer-container .grid-container .form input {
    height: 25px;
    width: 130px;
    padding-left: 5%;
}
.Tasks .outer-container .grid-container .form button{
    float: right;
    height: 25px;
}

.Tasks .desc-container {
    background-color: var(--container-bg-color);
    margin: 5% auto;
    width: calc(70vw);
    height: fit-content;
    border-radius: 20px;
    border: 1px solid var(--invert-color);
    box-shadow: 0px 0px 6px 1px var(--container-boxshadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.Tasks .desc-container .storedinfo-container .title {
    font-size: 25px;
    text-align: center;
    margin: 1% 0%;
}
.Tasks .desc-container .storedinfo-container .stored {
    font-size: 20px;
    background-color: thistle;
    padding: 0% 15%;
    padding-bottom: 1%;
    margin: 0%;
    overflow-wrap: anywhere;
}
.Tasks .desc-container .storedinfo-container .stored li:nth-child(n) {
    border-bottom: 1px solid black;
}
.Tasks .desc-container .storedinfo-container .stored li:first-child {
    display: block;
    width: fit-content;
    margin: 0% auto;
    padding: 0.5% 0%;
    border-bottom: none;
}
.Tasks .desc-container .storedinfo-container .stored li:last-child {
    border-bottom: none;
}
.Tasks .desc-container .description-container {
    border-top: 1px solid black;
}
.Tasks .desc-container .description-container .title {
    font-size: 25px;
    text-align: center;
    margin: 1% 0%;
}
.Tasks .desc-container .description-container .description {
    font-size: 20px;
    margin: 2% 10% 4% 10%;
}


@media only screen and (max-width: 500px) {
    .Tasks .outer-container {
        width: 280px;
    }
    .Tasks .desc-container {
        min-width: 280px;
    }
}
@media only screen and (max-width: 450px) {
    .Tasks .desc-container .storedinfo-container .stored li:first-child {
        font-size: 16px;
    }
}
