.PageNotFound {
    position: relative;
    height: calc(100vh);
}

.PageNotFound .container {
    background-image: url("../../Images/Stow_Lake.webp");
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
    width: calc(70vw);
    height: fit-content;
    border: 3px solid var(--invert-color);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px var(--container-boxshadow);
}
.PageNotFound .container .title {
    width: fit-content;
    margin: 2% auto 1% auto;
    font-size: 65px;
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
}
.PageNotFound .container .description {
    font-family: 'Optima';
    margin: 0% 5% 3% 5%;
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
}
